extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Virus Removal
          p
            | A virus removal is the process of manually or automatically deleting or disinfecting a computer virus, malware or other malicious program on a computing device. The process is applied to protect a computer from possible data corruption, loss or system inaccessibility.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Hardware Issues
          p
            | Not all computing problems are to do with software and programs. Sometimes a hardware fault can create issues that require a physical fix. We explain common computing hardware problems, from connecting devices to taking a screwdriver to your computer for a hands-on physical fix, or knowing when the time is right to seek a professional repair.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Software Issues
          p
            | There's a fast IT transformation for emerging companies with all of the latest technologies. Enterprise companies cannot accept all of the latest technologies because it's challenging and not all technologies are in the same language.
          p
            a.btn.btn-default(href='#', role='button') View details »
