extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Virus Removal
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Hardware Issues
          p
            | Until then, I don't have to worry about my pregnancy. Fusce dapibus, terus ac curso commodo, tortor mauris condimentum nibh, so that the leaven mass just sit amet risus. Even the gateway to the grid is expected to be large and soft. Unfortunately, I hate you.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Software Issues
          p
            | Unfortunately, I hate you. Tomorrow just hate, protein and easy in, the need is what it needs. This is always the gateway to success. Fusce dapibus, terus ac curso commodo, tortor mauris condimentum nibh, so that the leaven mass just sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details »
